{% trans_default_domain "views" %}
<header><h1>{{ "skills.vacancytypes"|trans }}</h1></header>
<ul>
	{% for skill in skills %}
		<li><a href="{{ path("zoeken", { "cat": skill.name }) }}">{{ skill.name }} </a></li>
	{% endfor %}
</ul>
