{% extends "base.html.twig" %}

{% block title %}Profiel aanpassen{% endblock %}

{% block body %}
    {% for flashMessage in app.session.flashbag.get('approve_message') %}
        <div class="alert alert-success">
            <strong>Success!</strong> {{ flashMessage }}
        </div>
    {% endfor %}
    {% for flashMessage in app.session.flashbag.get('error') %}
        <div class="alert alert-danger">
            {{ flashMessage }}
        </div>
    {% endfor %}

    {{ form_start(form) }}
    {{ form_end(form) }}
{% endblock %}

