<article class="blok">
    <header>
        <a href="{{ path("person_username", { "username": person.username }) }}">
            <h3>{{ person.firstname}} {{ person.lastname}}</h3>
        </a>
    </header>
    <p>xx</p>
    <ul class="icons">
        <li class="loc">x</li>
    </ul>
</article>
