{% if contact is not defined %}
	{% set contact = false %}
{% endif %}
{% if viewMode == 'list' %}
<ul>
    {% for person in persons %}
        <li><a href="{{ path("person_username", { "username": person.username }) }}">{{ person.firstname}} {{ person.lastname}}</a></li>
    {% endfor %}
</ul>
{% elseif viewMode == 'tile' %}
	<div class="blokken">
		{% for person in persons %}
		    {% embed "person/persoon_min.html.twig" with {"person": person, "contact": contact} %}{% endembed %}
		{% endfor %}
	</div>
{% endif %}