<section class="part"><div class="container tabblad spacing">

        <div class="tab-content clearfix blok special">
            <div class="tab-pane active" id="notificaties">
                <div class="blokken">
                    {% for notification in notifications %}
                        <div class="blok cta">
                            <h4>{{ notification }}</h4>
                            <div class="cta">
                            <a href="#" class="cta blauw">Actie</a>
                                </div>
                        </div>
                    {% endfor %}
                </div>

            </div>
        </div>
</section>