{% extends 'base.html.twig' %}

{% block title %}Vrijwilliger vinden{% endblock %}
	
{% block body %}
	<header>
		<h1>Vrijwilliger worden</h1> 
	</header>
	<form>
		<section> 
			<h2>Spelregels voor vrijwilligers</h2>
			{% embed "info/part.spelregels-vrijwilliger.html.twig" %}{% endembed %} 
		</section> 
		<section> 
			<h2>Spelregels voor verenigingen</h2>
			{% embed "info/part.spelregels-vereniging.html.twig" %}{% endembed %} 
		</section>  
	</form>
{% endblock %}