{% extends 'base.html.twig' %}

{% block title %}Vrijwilliger{% endblock %}

{% block body %}
	 
		
		<p>-- Vacatures op maat  --  </p>

		<p><a href="{{ path('person_spelregels') }}">Bekijk de spelregels</a></p>
{% endblock %}
