{% extends 'base.html.twig' %}

{% block title %}Vacatures op maat{% endblock %}

{% block body %}
<h2>Vacatures op maat</h2>

<p><a href="{{ path('info_spelregels') }}">Bekijk de spelregels</a></p>
{% endblock %}
