{% trans_default_domain "validators" %}
{% extends "base.html.twig" %}

{% block title %}Wachtwoord reset reset status{% endblock %}

{% block body %}
    {% if app.session.flashBag.has('success') %}
        <div class="alert alert-success">
            {% for msg in app.session.flashBag.get('success') %}
                {{ msg }}
            {% endfor %}
        </div>
    {% endif %}
    {% if app.session.flashBag.has('error') %}
        <div class="alert alert-danger">
            {% for msg in app.session.flashBag.get('error') %}
                {{ msg }}
                <a href="{{ app.request.headers.get('referer') }}">Klik hier</a> om terug te gaan.
            {% endfor %}
        </div>
    {% endif %}

{% endblock %}
