<p>Roeselare vrijwilligt heeft vier spelregels opgesteld. Iedere vrijwilliger moet zich aan deze spelregels houden.</p>
<ul>
	<li>Je houdt je aan je afspraken.</li>
	<li>Je hebt geheimhoudingsplicht over wat je in je werk tegenkomt.  Uitzonderingen worden door de organisatie meegedeeld.</li>
	<li>Je gedraagt je respectvol.</li>
	<li>Je bent op de hoogte van de wettelijke bepalingen.</li>
</ul>