{% trans_default_domain "views" %}
{% extends 'base.html.twig' %}

{% block title %}{{ "info.rules.title"|trans }}{% endblock %}

{% block body %}

	<div class="col2 infoteksten">
		<div class="blok">
			<h3>{{ "info.rules.volunteer.title"|trans }}</h3>
			{% embed "info/part.spelregels-vrijwilliger.html.twig" %}{% endembed %}
		</div>
		<div class="blok">
			<h3>{{ "info.rules.org.title"|trans }}</h3>
			{% embed "info/part.spelregels-vereniging.html.twig" %}{% endembed %}
		</div>
	</div>
{% endblock %}