{% extends 'base.html.twig' %}

{% block title %}Spelregels{% endblock %}
	
{% block body %}
	<article>
		<h1>Spelregels voor vrijwilligers</h1>
		{% embed "info/part.spelregels-vrijwilliger.html.twig" %}{% endembed %}
	</article>
	<article>
		<h1>Spelregels voor verenigingen</h1>
		{% embed "info/part.spelregels-vereniging.html.twig" %}{% endembed %}
	</article>
{% endblock %}