{% trans_default_domain "views" %}
{% extends "base.html.twig" %}

{% block title %}{{ "info.info"|trans }}{% endblock %}

{% block body %}
{{ "info.info"|trans }}

<h1>Wat is vrijwilligerswerk?</h1>

<p>Heb jij al van de vrijwilligerswet gehoord? Deze wet is er om jou als vrijwilliger te beschermen, dus het is best handig als je je rechten en plichten kent. Als je vrijwilligt, geef je eigenlijk een stukje van je tijd weg om mee te werken aan een initiatief of doel dat je zelf kiest. Je bent vrijwilliger als:</p>

<ul>
	<li>Jij je inzet voor een organisatie*: je helpt mee op de jaarlijkse barbecue van de voetbalclub, je begeleidt elke woensdag kinderen met hun huiswerk, je zit in het bestuur van de lokale afdeling van je vereniging, ...</li>
	<li>Je er geen geld mee verdient</li>
	<li>Niemand je verplicht dit te doen</li>
</ul>

<p>Let op! Je bent dus geen vrijwilliger als je het gras van je buurvrouw maait, boodschappen voor je moeder doet, spaghetti gaat eten op een benefietavond, een breicursus volgt ...</p>

<h2>Zijn mensen die in het bestuur van een organisatie zitten ook vrijwilligers?</h2>
<p>Ja hoor! Je bent ook vrijwilliger als je, zonder dat je ervoor betaald wordt, in het bestuur van een organisatie zit. De vrijwilligerswet geldt dus ook voor jou. Let op! Afhankelijk van de organisatie heb je hierdoor bestuursaansprakelijkheid volgens de vzw-wet.</p>





{% endblock %}
