<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block header %}
            <head>
                <h1><span>Roeselare vrijwilligt</span></h1>
            </head>
            {% endblock %}

        {% block body %}{% endblock %}
            
        {% block footer %}
            <footer>
                &copy; 2016 Howest 
            </footer>
        {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
