{% trans_default_domain "views" %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "xxx://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="xxx://www.w3.org/1999/xhtml">
 <head>
  <meta xxx-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Roeselare Vrijwilligt e-mail</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body style="margin: 0; padding: 0;">
<div class="body" style="background-color: #f3f3f3;"><center>
    <table border="0" cellpadding="0" cellspacing="0" width="620" style="border-collapse: collapse; border-spacing: 0; width: 620px; margin: 0 auto">

 <tr>
  <td align="left" bgcolor="#76c7c0" style="padding: 20px 30px 0 30px;">

<img src="{{ absolute_url(asset('images/mail/logo_roeselarevrijwilligt.png')) }}" alt="Roeselare Vrijwilligt" width="222" height="101" style="display: block;" >
</td>
 </tr>

 <tr><td bgcolor="#ffffff" style="padding: 40px 30px 40px 30px;">
	{% block body %}{% endblock %}

<p>
    Met vriendelijke groeten,<br />
    Roeselare Vrijwilligt
</p>

 </td></tr>

 <tr>
 	<td align="center" bgcolor="#76c7c0" style="padding: 15px 30px;">

<p><small style="color: #424242; ">Deze mail werd u gestuurd vanuit Roeselare Vrijwilligt.
<br />U kunt uw instellingen aanpassen via <a href="{{ url("profile_edit") }}" style="color: #424242; ">deze pagina</a>.
<br /><br />Vrijetijdspunt Roeselare · Zuidstraat 17, 8800 Roeselare · 051 26 24 00</small></p>
 </td></tr>

    </table>
</center>
</div>
</body>
</html>