@cHeader: #76c7c0; 
@cCarousel: #6cb9b3; 
@iWidth: 1170px; 

/* main header / menu */
body>header { 
	background-color: @cHeader; overflow: auto;
	.navbar-default {
	    background-color: transparent;
	    border: 0px; 
	}
	a.logo {
		background: url("../images/logo_roeselarevrijwilligt.png") no-repeat center center; 
		width: 224px; height: 104px; display: inline-block; float: left; margin: 0; 
		h1 {display: none; }
	} 

	.menu_primary {
		display: flex; 

		a {
			color: white; text-decoration: none; padding: 10px 20px; 
		}
	}
}
 
/* Carousel homepage */
#indexHeader { 
	.carousel-control.left, .carousel-control.right { background: none; }
	background: @cCarousel;
	.container {height: 444px; }
	.slide1 {
		background: url("../images/caroesel.png") no-repeat right bottom;  
	}  
}
 
/* Page width */
.container {
	max-width: @iWidth; margin: auto; padding: 0 20px; 
} 