@import "browserprefixes.less";

@cMainBG: #f3f3f3;
@cHeader: #76c7c0;
@cCarousel: #6cb9b3;

@cRood: #e8645a;
@cGroen: #76c7c0;
@cBlauw: #37c1dc;
@cGeel: #dec531;
@cPaars: #9f80ac;
@cTXTgrijs: #7f8c8c;
@cBGgrijsA: #f3f3f3;
@cBGgrijsB: #ececec;

@iContainerWidth: 1170px;
@iMargin: 15px;
@iPadding: 15px;

/* ---------------------------- FUNCTIES ---------------------------- */

.grijzetitel() {
	color: @cTXTgrijs; font-size: 16px; font-weight: bold; text-decoration: none; text-transform: uppercase; font-weight: bold;
}
.shaduwblok(@achtergrond, @size: 4px){
	background: @achtergrond; box-shadow: 0px @size 0px 0px darken(@achtergrond, 8%);
}
.rounded(@iHoek){
	border-radius: @iHoek;
}

/* ---------------------------- START CSS ---------------------------- */

body {color: @cTXTgrijs; }

/* main header / menu */
body>header {
	background-color: @cHeader;
	.mainnav {
		.flex-display(flex);
		padding-top: @iPadding;
		.flex-flow(row wrap) ; .justify-content(space-between);
		a.logo {
			background: url("../images/logo_roeselarevrijwilligt.png") no-repeat @iMargin bottom;
			height: 104px;
			.flex(0 0 250px);
			h1 {display: none; }
		}
		a.showhide {display: none; }
		nav {
			.flex(1);
			.flex-display(flex);  .flex-flow(row wrap) ;
			.justify-content(flex-end); .align-content(space-between);
			form.search {
				margin: 0; .align-content(space-between);  .flex-display(flex);  .rounded(5px);
				.align-items(baseline); font-size: 90%; position: relative;
				.searchq {
					border: 0; padding: 5px 10px; .flex(1);
					color: white; text-align: right; background: transparent;
				}
				.dosearch {
					.flex(0 0 35px); border: 0; overflow: hidden; color: transparent;  padding: 5px;
					background: transparent url("../images/search.png") no-repeat center center;
				}
				.searchResult {display: none; }
				&:hover, &.actief {
					background: lighten(@cHeader, 10%);
					.searchq {text-align: left; }
				}
				&.actief {
					.searchResult {
						position: absolute; background: lighten(@cHeader, 10%);
						.rounded(5px); display: block; z-index: 999;
						left: 0; top: 30px; width: 100%;
						li {
							display: block;
							span {
								display: block; padding: 8px 10px;
								color: white; font-style: italic;
							}
							a {
								display: block; padding: 8px 10px; text-decoration: none;
								color: white;
								&:hover {background: lighten(@cHeader, 5%);}
								&.person {background: url("../images/search_person.png") no-repeat 10px center; padding-left: 40px; }
								&.organisation {background: url("../images/search_organisation.png") no-repeat 10px center; padding-left: 40px; }
								&.vacancy {background: url("../images/search_vacancy.png") no-repeat 10px center; padding-left: 40px; }
							}
						}
					}
				}
			}
			ul {margin: 0; padding: 0; }

			ul.usermenu {
				margin-right: @iMargin;
				li {
					border-right: 1px solid white; padding: 0 7px;
					&:last-child {border-right: 0; padding-right: 0; }
					a {
						color: white; text-transform: uppercase; padding: 5px 7px; .rounded(5px);
						text-decoration: none; display: block; font-size: 90%; margin: 0;
						&:hover, &.actief {background: lighten(@cHeader, 10%); }
					}
				}
			}
			ul.mainmenu {
				.flex(0 0 100%); .flex-display(flex);  .flex-flow(row wrap) ; .justify-content(flex-end); margin: @iMargin;
				li {
					padding-left: 10px;
					a {
						text-decoration: none; color: white; text-transform: uppercase;
						.rounded(5px); padding: 5px 10px;
						&.actief {.shaduwblok(darken(@cHeader, 30%), 2px);  }
						&:hover {.shaduwblok(@cRood, 2px); }
					}
				}

			}
			ul li {display: inline-block; }

		}
	}

	@media screen and (max-width: @iContainerWidth){
		position: relative; z-index: 10;
		.mainnav {
			.flex-flow(column wrap) ;
			a.logo {.flex(0 0 104px); }
			a.burger {
				position: absolute; top: @iMargin; right: @iMargin; display: block; .rounded(4px);
				width: 40px; background: lighten(@cHeader, 20%); padding: 5px;
				span {height: 4px; margin: 4px; display: block; background: @cHeader; }
			}
			nav {
				display: none;
				&.collapse.in {.flex-display(flex);  }
				background: darken(@cHeader, 10%);
				ul.mainmenu {
					order: 2;
					.flex-direction(column);
					margin: 0;
					li {
						padding: 2px @iPadding;
						a {
							display: block;
						}
					}
				}
				ul.usermenu {
					border-top: 2px dotted lighten(@cHeader, 10%);
					.flex-display(flex);  .flex-flow(row wrap) ;
					width: 100%; margin: 10px 0; padding: 10px;
					order: 3;
					li {
						padding: 2px;
						.flex(1); white-space: nowrap;
						border: 0; padding: 2px 7px;
					}
				}
				form.search {
					order: 1;
					width: 100%; margin: @iMargin;
					.flex-flow(row wrap) ;
					background: lighten(@cHeader, 10%);
					.searchq {text-align: left; }
					&, &.actief {
						.searchResult {
							position: relative;
							background: lighten(@cHeader, 5%);
							z-index: 0;
							.flex(0 0 100%); top: 0;
						}
					}
				}

			}
		}
	}

	.menu_primary {
		.flex-display(flex);

		a {
			color: white; text-decoration: none; padding: 10px 20px;
		}
	}
}

/* Carousel homepage */
#carouselhome {
	#indexHeader {
		.carousel-control.left, .carousel-control.right { background: none; }
		background: @cCarousel;
		.container {height: 444px; }
		.slide {
			.flex-display(flex);  padding-right: 40%; .flex-direction(column);  .justify-content(space-around);
			h1 {color: white; font-size: 50px; }
			.box {
				background: @cPaars; .rounded(5px); padding: 10px 15px; color: white; text-align: center;
				p {padding: 10px 0; }
			}
			background: url("../images/handen.png") no-repeat right bottom;
		}
	}
	.slidetoggle {
		text-align: center; padding: 0; margin: 0;
		li {
			background: @cGroen;
			cursor: pointer;
			display: inline-block;
			height: 5px;
			margin: 15px 5px 0;
			overflow: hidden;
			padding-top: 5px;
			width: 100px;
		}
		li+li {background-color: @cBlauw; }
		li+li+li {background-color: @cGeel; }
	}
}

#handenuitmouwen { /* ZOEKEN VANUIT HOMEPAGE */
	.searchResult {
		width: 80%; margin: auto; .rounded(5px); overflow: hidden;
		ul {
			text-align: left; margin: 0; padding: 0;
			li {
				padding: 5px 10px; display: block;
				a {color: @cTXTgrijs; text-decoration: none; }
				&:nth-child(odd) {background: rgba(255, 255, 255, 0.8); }
				&:nth-child(even) {background: rgba(255, 255, 255, 0.6); }
			}
		}
	}
}


#infoblokken { /* 4 INFOBLOKKEN OP HOMEPAGE */
	h3 {
		margin-bottom: 10px;
		a {
			.grijzetitel();
			display: block;
			background: url("../images/hoewerkthet.png") no-repeat center top; padding-top: 80px;
		}
	 }
	.hoewerkthet {
		h3 a {background-image: url("../images/hoewerkthet.png"); }
	}
	.verhalen {
		h3 a {background-image: url("../images/verhalen.png"); }
	}
	.informatie {
		h3 a {background-image: url("../images/info.png"); }
	}
	.doedetest {
		h3 a {background-image: url("../images/doetest.png"); }
	}
}

.verenigingpage, .vacaturepage {
	.flex-display(flex);  .flex-flow(row wrap) ;
	h1 {margin-bottom: 0; }
	span.baseline {font-size: 20px; margin-bottom: 15px; margin-top: 0; }
	aside {
		.flex(1 1 30%); min-width: 300px;
		.flex-display(flex);  .flex-direction(column);
		div.cta {
			.flex(1); .flex-display(inline-flex);  .flex-direction(column);  .justify-content(flex-end);
			text-align: center;
		}
	}
	article {
		.flex(1 1 60%);  .flex-display(flex);  .flex-direction(column);
		header {margin-bottom: 10px; }
		footer {
			.flex(1); .flex-display(flex);  .flex-direction(column);  .justify-content(flex-end); margin-top: 15px;
			ul.social {float: right; }
		}
		dl {
			dt {text-transform: uppercase; white-space: nowrap; color: @cTXTgrijs; clear: left; }
			dd {padding-bottom: 8px; }
		}
		ul.skills {
			margin: 0; padding: 0;
			li {background: transparent url("../images/skill.png") no-repeat left center; padding-left: 20px; padding-right: 10px; display: inline-block; }
		}
	}
	>article.vereniging img.logo {max-width: 50%; float: right; }
	section {
		.flex(1 1 @iContainerWidth);
	}

	#googlemaps {
		margin: 0-@iPadding; margin-top: 0; .flex(1);
		div.googlemap {height: 100%; min-height: 350px;
			#map-canvas {height: 100%; }
		}
	}
}

article.vacature, article.vereniging, .blok {
	.shaduwblok(white);
	.rounded(10px);
	position: relative;
	padding: @iPadding;
	margin: @iMargin;
	.tabblad & {margin-top: 0; }
	overflow: auto;
	h2 {text-align: left; }
	figure {text-align: center; }
	span.baseline {font-style: italic; margin-top: 3px; display: block; }
	img.logo {max-width: 95%; max-height: 310px; margin: 10px auto; }
	a.fav {
		background: url("../images/fav.png") no-repeat center center; width: 26px; height: 33px; display: block;
		position: absolute;  right: 20px; top: -2px;
		span {display: none; }
		&.liked {background-position: center bottom; }
		&.notliked {background-position: center top; }
	}
	.googlemap {
		position: relative; clear: both;
		#map-canvas {width: 100%; height: 350px; z-index: 10; }
		#targetaddress {display: none; position: absolute; right: 10px; top: 10px; z-index: 50; padding: 10px 15px;
			background-color: #fff; border-radius: 2px; box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
		 }
		 ul.transit {
		 	position: absolute; right: 10px; bottom: 78px; border-radius: 2px; box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3); z-index: 50; background: white; padding: 0;
		 	li {
		 		display: block; margin: 0; padding: 0;
		 		a {
		 			background: #999999 url("../images/map_walk.png") no-repeat center center; width: 28px; height: 28px; display: block;
		 			&:hover {background-color: #333333; }
		 			&.actief {background-color: black; }
		 			&.walking {background-image: url("../images/map_walking.png"); }
		 			&.bike {background-image: url("../images/map_bike.png"); }
		 			&.driving {background-image: url("../images/map_car.png"); }
		 			&.transit {background-image: url("../images/map_bus.png"); }
		 		}
		 	}
		 }
	}
}


div.vacatures, div.organisaties, .blokken {
	overflow: auto; width: 100%;
	.flex-display(flex);  .flex-flow(row wrap) ; .justify-content(space-between); .align-items(stretch);
	>article.vacature, >article.vereniging {.flex(1 0 250px); }
	.tabblad & {
		.flex-flow(row nowrap);  .justify-content(flex-start);
		>article.vacature, >article.vereniging {.flex(0 0 235px); }
	}
	.tabblad.tiles & {
	    .flex-flow(row wrap) ;
		>.blok, >article.vacature, >article.vereniging {
			.flex(0 1 235px);
		}
	}
	>.blok {.flex(1 0 200px); }
	>article.vacature, >article.vereniging, >.blok {
		text-align: center; overflow: visible;
		.flex-display(flex);  .flex-direction(column);
		img.logo {max-height: 110px; float: none; margin: 10px auto; }
		a.cta {
			color: white;
			padding: 10px;
			display: inline-block;
			//.shaduwblok(@cGroen);
			.rounded(5px);
			width: 160px;
			text-decoration: none;
			margin: 3px;
		}
		p {margin-top: 15px; }
		ul.icons {
			.flex(1); .align-self(center);
			.flex-display(inline-flex);  .flex-direction(column);  .justify-content(flex-end);
		}
	}
	>article.vacature, >article.vereniging {
		padding-top: 30px;
	}
	>article.vacature.cta, >article.vereniging.cta, >.blok.cta {
		margin-bottom: (@iMargin + 20); padding-bottom: 30px;
		div.cta {
			bottom: -20px; left: 0; position: absolute; width: 100%;
			//a.cta {position: relative; margin: 0; bottom: 0; }
		}
		/*
		a.cta {
			position: absolute;
			bottom: -20px;
			margin-left: -80px;
		}*/
	}
}

div.cta a.cta {display: inline-block; }

.tabblad {
	.nav-tabs, .nav-pills {
	    border: 0; text-align: center;
	    li {
	    	float: none; display: inline-block; padding: 0 5px;
	    	a, a:hover, a:active, a:link, a:visited {font-weight: bold; color: white; font-size: 17px; border: 0; background-color: @cRood;  }
    		&.active a  {color: @cRood; }
    		&.active.geel a  {color: @cGeel; }
    		&.active.groen a {color: @cGroen; }
    		&.active.blauw a  {color: @cBlauw; }
    		&.active.paars a {color: @cPaars; }
    		&.rood a  {background-color: @cRood; border-color: @cRood; }
    		&.geel a  {background-color: @cGeel; border-color: @cGeel; }
    		&.groen a {background-color: @cGroen; border-color: @cGroen; }
    		&.blauw a  {background-color: @cBlauw; border-color: @cBlauw; }
    		&.paars a {background-color: @cPaars; border-color: @cPaars; }
	    	&.active a {
	    		background-color: @cBGgrijsA;
	    	}
	    }
	}
	.nav-pills {
		margin-bottom: 15px;
		li {
			a, a:hover, a:active, a:link, a:visited {border-width: 3px; border-style: solid;  }
		}
	}
}

ul.icons {
	.flex-display(inline-flex);  .flex-direction(column);  padding: 0; .align-items(flex-start);
	li {
		text-align: left;
		background: white no-repeat left 2px; padding-left: 23px; display: inline-block; padding-bottom: 3px;
		&.people {background-image: url("../images/people.png"); }
		&.loc {background-image: url("../images/loc.png"); }
		&.number {background-image: url("../images/doc.png");  background-position: 1px 2px; }
		&.mail {background-image: url("../images/mail.png"); background-position: left 4px; }
		&.phone {background-image: url("../images/foon.png"); }
		&.date {background-image: url("../images/date.png"); }
		&.web {background-image: url("../images/website.png"); }
		&.organisation {background-image: url("../images/organisation.png"); }
		&.strong {font-weight: bold; color: @cRood; 	}
		a {color: inherit; }
	}
}

ul.social {
	margin: 0; padding: 0;
	li {
		display: inline-block;
		a {display: block; width: 22px; height: 22px; overflow: hidden; color: transparent; background: transparent url("../images/share.png") no-repeat center center;  }
		&.facebook a {background-image: url("../images/share_fb.png"); }
		&.twitter a {background-image: url("../images/share_twitter.png"); }
		&.googleplus a {background-image: url("../images/share_google.png"); }
	}
}

.tempblok {
	.shaduwblok(white);
	.rounded(10px);
	padding: @iPadding;
	margin: @iMargin;
	position: relative;
	a.fav {
		background: url("../images/fav.png") no-repeat center center; width: 26px; height: 33px; display: block;
		position: absolute;  right: 20px; top: -2px;
		span {display: none; }
		&.liked {background-position: center bottom; }
		&.notliked {background-position: center top; }
	}
	img.logo {max-width: 100%; max-height: 200px; margin: 10px auto; }
	a.cta {
		color: white;
		padding: 10px;
		display: inline-block;
		.shaduwblok(@cGroen);
		.rounded(5px);
		width: 160px;
	}
}


h1, h2, h3 {margin: 0; padding: 0; }
h2 {color: @cRood; font-size: 30px; font-weight: bold; text-align: center;  }
h3 {.grijzetitel(); }
/*   */

.steps { /* FORMULIEREN DIE UIT VERSCHILLENDE STAPPEN BESTAAN */
	form {margin: 0; }
	h2.steptitle {
		margin: @iMargin;  .rounded(5px); .shaduwblok(@cBlauw, 2px); font-size: 120%; padding: 15px 10px; text-align: center; color: white;
		&.geel {.shaduwblok(@cGeel, 2px); }
		&.rood {.shaduwblok(@cRood, 2px); }
		&.groen {.shaduwblok(@cGroen, 2px); }
		&.blauw {.shaduwblok(@cBlauw, 2px); }
		&.paars {.shaduwblok(@cPaars, 2px); }
		a {
			color: white;
			&:hover {text-decoration: none; }
		}
	}
	.step {
		display: none; margin: @iMargin; padding: @iPadding; .rounded(5px);
		&.actief {display: block; }
		h3 {margin-bottom: 15px; }
		legend {color: @cTXTgrijs; border: 0; font-weight:  bold; margin-bottom: 10px; }
		input, textarea, select {border: 0; padding: 5px 10px; .rounded(5px); display: block; margin-bottom: 15px; width: 100%; background: white;  }
		label {font-weight: normal; }
		.lbl label {
			color: @cTXTgrijs; text-transform: uppercase;
			font-size: 85%; display: block;
			font-weight: bold;
		}
		input.radio, input.chckbox {width: 30px; display: inline-block; clear: left; }
		input[type=file], label.filedropper {
			background: #c3c3c3 url(../images/fileupload.png) no-repeat center center; padding: @iPadding; .rounded(5px); margin-bottom: 15px;
			color: #777777; width: 100%; height: 175px; cursor: pointer;
			&.hasvalue {
				background-color: white;
				background-size: contain;
			}
		}
		.error {
			background: url("../images/error.png") no-repeat 12px top; padding: 7px 37px 10px; color: #e34236; font-weight: bold;
			ul {
				margin: 0; padding: 0;
				li {display: block; }
			}
		 }
		button {padding: 5px 15px; border: 0; color: white; .shaduwblok(@cRood, 2px); .rounded(5px); }
		&.geel button {.shaduwblok(@cGeel, 2px);}
		&.blauw button {.shaduwblok(@cBlauw, 2px);}
		&.groen button {.shaduwblok(@cGroen, 2px);}
		&.paars button {.shaduwblok(@cPaars, 2px);}
		div.google {background: #c3c3c3; .rounded(5px); height: 185px; color: white; padding: 15px; }
		div.onerow>div {
			.flex-display(flex);  .align-items(center);
			div.lbl {padding-bottom: 5px; padding-right: 15px; }
			div.vals {.flex-display(flex);  .align-items(baseline); }
		}
		#vacancy_skills, #person_skills {
			.flex-display(flex);  .flex-flow(row wrap) ; .justify-content(flex-start);
			div.option {.flex(1 0 220px); }
		}
	}
}

#zoekpage {
	.flex-display(flex);  .flex-flow(row wrap) ; .justify-content(stretch);
	.filters {
		.flex(1);
		div.lbl {display: none; }
		div.vals {
			label {font-weight: normal; font-size: 13px; }
		}
		div.vals, div.option {
			.flex-display(flex);  .flex-flow(row nowrap);
			input {.flex(0 0 20px); }
			label {.flex(1); }
		}
		h3 {margin-top: 10px; }
		.readmore {font-size: 13px; }
	}
	.results {
		.flex(4);
		.nav-tabs {white-space: nowrap;}
	}
	.readmore a {margin-right: 5px; margin-left: 20px; }
}

.dashoverzicht {
	.flex-display(flex);  .flex-flow(row wrap) ;
	.links {.flex(0 0 235px); }
	.rechts {.flex(1 0 300px); }
}


.oauthlogin {
	.flex-display(flex);  .flex-flow(row wrap) ;
	a {
		background: #ff6952 none no-repeat left center; display: block;
	    height: 47px; margin: 10px; .rounded(5px); text-align: center;
	    padding-left: 47px; color: white; font-weight: bold;
	    .flex-display(flex);  .align-items(center); .flex(1 1 200px); .justify-content(center);
	    &:hover {text-decoration: none; }
		&.googlelogin {background-image: url(../images/google.png);  }
		&.fblogin {background-image: url(../images/fb.png); background-color: #5b76b3; }
	}
}

.hidden {display: none; }


#partners {
	h3 {
		font-size: 18px; text-transform: none; .flex(0 0 100%);
		padding: @iMargin @iMargin 0; border-top: 3px dotted @cGroen;
	}
	.blokken {.justify-content(center); }
	.blok {
		.flex-display(flex);  .align-items(center); .justify-content(center);
		.flex(0 1 250px);
		img {max-width: 100%; max-height: 70px; }
	}
}

#footernav {  /* NAVIGATIE ONDERAAN */
	padding: @iPadding;
	h1 {color: @cTXTgrijs; font-size: 20px; margin-bottom: @iMargin; }
	ul {
		padding: 0;
		li {
			list-style-type: none;
			background: url("../images/bulletarrow.png") no-repeat left 5px;
			padding-left: 17px;
			a {color: @cTXTgrijs; }
		}
	}
}


body>footer {
	background: @cHeader; color: white;
	a, a:hover {color: white; text-decoration: none; }

	#contactdata {
		padding-top: 20px;
		h2 {color: #497e79; font-size: 20px; }
		h3 {color: white; font-style: italic;  }
		h2, h3 {height: 50px; text-transform: none; }
		dl {
			.flex-display(flex);  .flex-flow(row wrap) ; .justify-content(space-between);
			dt {.flex(0 1 35%); }
			dd {.flex(1 0 65%); }
		}
	}

	#legalfooter {
		padding: 20px 0;
		background: @cCarousel;
		ul.social {
			float: right;
			li {
				display: inline-block;
				a {
					width: 22px; height: 22px; overflow: hidden; color: transparent; display: block;
				}
				a.facebook {
					background: url(../images/social-fb.png) no-repeat center center;
				}
			}
		}
	}
}


/* PAGE DEFAULTS */
/*
.blok {
	border-radius: 10px;
	padding: 15px; text-align: center;
	margin: 15px;
	.shaduwblok(white);
	margin: 30px 0;
} */
.part {
	padding: 20px 0 30px 0;
	.blok.special {
		box-shadow: none;
		padding: @iPadding;
		.rounded(10px); text-align: center;
		h2 {color: @cTXTgrijs; font-size: 20px;  }
		input {
			border: 0; .rounded(5px); padding: 12px 10px; min-width: 60%; margin: 10px;
		}
		input.cta {
			.shaduwblok(@cRood);
			color: white; text-transform: uppercase; padding: 10px 20px 8px;
			min-width: 200px;
		}

	}

}
.part:nth-child(even) {
	background: @cBGgrijsB;
	.blok.special {background: @cBGgrijsA;  }
	.tabblad .nav-tabs li.active a {background-color: @cBGgrijsA; }
	.grijs {
		background: @cBGgrijsA;
	}
}
.part:nth-child(odd) {
	background: @cBGgrijsA;
	.blok.special {background: @cBGgrijsB; }
	.tabblad .nav-tabs li.active a {background-color: @cBGgrijsB; }
	.grijs {
		background: @cBGgrijsB;
	}
}.part.header {
	background-color: @cCarousel; padding: 0;
	div.container {
		padding: @iMargin 30px;
		background: @cCarousel url("../images/handen.png") no-repeat right -70px;
		background-size: 280px;
		h1 {color: white; }
	}
}

.grijs:nth-child(even) {
	background: @cBGgrijsB;
	.grijs {
		background: @cBGgrijsA;
	}
}
.grijs:nth-child(odd) {
	background: @cBGgrijsA;
	.grijs {
		background: @cBGgrijsB;
	}
}

h1, h2, h3 {margin: 0; padding: 0; }
h1 {color: #876b97; font-size: 32px; font-weight: bold; margin: 15px 0; }
h2 {color: @cRood; font-size: 30px; font-weight: bold;  }
h3 {.grijzetitel(); }
/*   */

a.cta {
	.shaduwblok(@cRood); padding: 10px 20px; color: white; .rounded(5px); font-weight: bold;
	&.groen {.shaduwblok(@cGroen); }
	&.blauw {.shaduwblok(@cBlauw); }
	&.geel {.shaduwblok(@cGeel); }
	&.paars {.shaduwblok(@cPaars); }
}


/* PAGE WIDTH  */
.container {
	max-width: @iContainerWidth; margin: auto; padding: 0 10px; overflow: visible;
	&.spacing {padding: 0 30px; }
}
body {background: @cMainBG; }
.center {text-align: center; }

@media screen and (max-width: @iContainerWidth){
	.container {
		width: 100%; padding: 0;
	}
}

