{% extends 'base.html.twig' %}

{% block title %}Vrijwilliger vinden{% endblock %}
	
{% block body %}
	<h2>Bent u al geregistreerd als vereniging klik dan
		<a href="{{ path('login_testing') }}"> hier</a>
        om in te loggen.
	</h2>

{% endblock %}