{% extends 'base.html.twig' %}

{% block title %}Vrijwilliger vinden{% endblock %}

{% block body %}
<header>
	<h1>Vrijwilliger vinden</h1>
	<p>Op zoek naar vrijwilligers?</p>
	<p>Maak nu een profiel zodat je vacatures kan plaatsen! </p>
</header>
<section id="maakVereniging">
    <h2>Maak een profiel aan voor uw vereniging</h2>
    {% embed "organisation/vereniging_form.html.twig" with { 'form': form, 'createForm': createForm } %}{% endembed %}

    {# TODO: checken waarvoor het onderstaande dient: lijkt overbodig nu dat er verschillende delen zijn? #}
    {% for flash_message in app.session.flashbag.get('success-notice') %}
        <div class="success-notice">
            <script type="text/javascript">alert("{{ flash_message }}");</script>
        </div>
    {% endfor %}
</section>
<section id="spelregels">
    <h2>Bekijk de spelregels</h2>
    {% embed "organisation/spelregels_organisatie.html.twig" %}{% endembed %}
    {% embed "person/spelregels_vrijwilligers.html.twig" %}{% endembed %}
    {% if org_urlid %}
        <a href="{{ path('create_vacancy_for_organisation', { 'organisation_urlid': org_urlid }) }}">Plaats een vacature</a>
    {% endif %}
</section>
{% endblock %}
