{% extends 'base.html.twig' %}

{% block title %}Vrijwilliger vinden{% endblock %}

{% block body %}
    <header>
    	<h1>Vrijwilliger vinden</h1>
    	<p>Op zoek naar vrijwilligers?</p>
    	<p>Maak nu een profiel zodat je vacatures kan plaatsen! </p>
    </header>
    <section id="maakVereniging" class="steps">
        {% embed "organisation/vereniging_form.html.twig" with { 'form': form, 'organisation': organisation } %}{% endembed %}

        <div class="step">
            <h2 class="steptitle" >Bekijk de spelregels</h2>
            {% embed "organisation/spelregels_organisatie.html.twig" %}{% endembed %}
            {% embed "person/spelregels_vrijwilligers.html.twig" %}{% endembed %}
        </div> 
        {% if organisation %}
            <div class="step">
                <a class="steptitle" href="{{ path('create_vacancy_for_organisation', { 'organisation_urlid': organisation.urlId }) }}"><h2>Plaats een vacature</h2></a>

                <a href="{{ path('create_vacancy_for_organisation', { 'organisation_urlid': organisation.urlId }) }}">Plaats een vacature</a>
            </div>
        {% endif %} 
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }} 
    <script src="{{ asset("js/forms.js") }}"></script>
{% endblock %}

