<h3>Spelregels voor organisaties</h3>
<p>
    Roeselare vrijwilligt heeft vijf spelregels opgesteld. Iedere organisatie moet zich aan deze spelregels houden.
</p>
<ul>
    <li>Je houdt je aan je afspraken.</li>
    <li>Je respecteert de privacy van elke vrijwilliger.</li>
    <li>Je gedraagt je respectvol.</li>
    <li>Je sluit [een verzekering] af voor elke vrijwilliger.</li>
    <li>Je zorgt dat elke vrijwilliger goed begeleid wordt.  Een vrijwilliger is geen gratis werkpaard maar een waardevol medewerker!</li>
</ul>
