{% extends 'base.html.twig' %}

{% block title %}Vrijwilliger vinden{% endblock %}

{% block body %}
	<header class="center">
    	<h1>Vrijwilliger vinden</h1>
		<p>Ben je op zoek naar één of meerdere vrijwilligers?
		<br /> Op deze pagina kan je <strong>als geregistreerde gebruiker</strong> een vacature aanmaken.
		<br />Je hebt daarbij de keuze tussen een vacature voor een organisatie of voor een persoon.</p>
    </header>

	{% if app.user %}
		<section class="steps">

		    <h2 class="steptitle rood"><a href="#kiesvereniging" name="kiesvereniging">Voor welke vereniging wil je een vrijwilliger vinden? </a></h2>
		    <div class="step actief grijs">

			<div class="organisaties">
				{% for organisation in organisations %}
				    {% embed "organisation/vereniging_min.html.twig" with {"organisation": organisation, "cta": {"txt" : "selecteer", "href" : path("create_vacancy_for_organisation", { "organisation_urlid": organisation.urlId }) } }%}{% endembed %}
				{% endfor %}
			</div>

		    <h2 class="steptitle blauw"><a href="{{ path("create_organisation") }}">Ik wil eerst een nieuwe vereniging aanmaken</a></h2>

		    <h2 class="steptitle geel"><a href="{{ path("create_vacancy") }}">Ik wil als particulier een vrijwilliger zoeken</a></h2>
		</section>
	{% else %}
		{% embed "security/login_form.html.twig" with { 'path': path, 'error': error, 'last_username': last_username } %}{% endembed %}
	{% endif %}
{% endblock %}
