<article>
	<header><h1>Vacature {{id}}</h1></header>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita rem cumque suscipit debitis asperiores, omnis sapiente non excepturi distinctio sed, modi deleniti, voluptatum. Ducimus error sunt eum, nihil necessitatibus sequi.</p>
	<aside>
		icoontjes
	</aside>
	<footer>{% block vacature_cta %}
		<button>Stel je kandidaat</button>
		
	{% endblock %}</footer>
</article>