{% extends 'base.html.twig' %}

{% block title %}Vrijwilliger worden{% endblock %}
	
{% block body %}
	<header>
		<h1>Vrijwilliger worden</h1>
		<p>Wil je vrijwilliger worden maar weet je niet goed hoe je eraan moet beginnen? </p>
		<p>Doorloop dan hieronder ons stappenplan. </p>
	</header>
	<form>
		<section>
			<h2>Maak een profiel aan</h2>
			<fieldset>
				<legend>Persoonsgegevens</legend>
				<label for="voornaam">Voornaam</label>
				<input type="text" name="voornaam" id="voornaam" placeholder="uw voornaam" />
				<label for="naam">Naam</label>
				<input type="text" name="naam" id="naam" placeholder="uw familienaam" />
				<label for="profielfoto">Kies een profielfoto</label>
				<input type="file" name="profielfoto" id="profielfoto" placeholder="Kies een bestand" />
			</fieldset>
			<fieldset>
				<legend>Kies minstens 1 contactmogelijkheid</legend>
				
				<label for="email">E-mail</label>
				<input type="email" name="email" id="email" placeholder="uw mailadres" />
				<label for="telefoon">Telefoonnummer / gsm</label>
				<input type="tel" name="telefoon" id="telefoon" placeholder="uw telefoonnummer" />
				<label for="organisatie">Organisatie</label>
				<select name="organisatie" id="organisatie">
					<option></option>
				</select>

				<label for="paswoord">Wachtzin</label>
				<input type="password" name="paswoord" id="paswoord" placeholder="Een wachtzin werkt net zoals een wachtwoord, maar is makkelijker te onthouden en stukken veiliger" />
				<label for="paswoord2">Bevestig wachtzin</label>
				<input type="password" name="paswoord2" id="paswoord2" placeholder="Herhaal uw wachtzin" />
			</fieldset>
			<input type="submit" value="Maak account" />
		</section>

		<section>
			<h2>Kijk welke vacatures interesant zijn</h2>
			{% for i in 1..5 %}
				{% embed "vrijwilliger/part.vacature.html.twig" %}{% endembed %}
			{% endfor %} 
		</section>

		<section>
			<h2>Zoek naar vacatures</h2>
			
		</section>

		<section>
			<h2>Stel je kandidaat</h2>
			
		</section>

		<section>
			<h2>Bekijk de spelregels</h2>
			
		</section>
	</form>
{% endblock %}