{% trans_default_domain "views" %}
{% extends 'base.html.twig' %}

{% block title %}{{ "tests.tests.title"|trans }}{% endblock %}

{% block body %}
		<p>{{ question.question }}</p>

		<ul>
			{% for answer in question.answers %}
				<li>
					<a href="{{ path('test_history', {'history': answer.history }) }}">{{ answer.answer }}</a>
				</li>
			{% endfor %}
		</ul>

{% endblock %}
