{% trans_default_domain "views" %}
{% extends 'base.html.twig' %}

{% block title %}{{ "tests.tests.title"|trans }}{% endblock %}

{% block body %}
	<section class="col-md-12"><div class="blok grijs">
		<h2>{{ ("tests.type." ~ type ~ ".name")|trans }}</h2>
		<p><br />{{ ("tests.type." ~ type ~ ".text")|trans }}</p>
	</div></section>
{% endblock %}
