{% trans_default_domain "views" %}
{% extends 'base.html.twig' %}

{% block title %}{{ "tests.tests.title"|trans }}{% endblock %}

{% block body %}
	<h2>{{ ("tests.type." ~ type ~ ".name")|trans }}</h2>
	<p>{{ ("tests.type." ~ type ~ ".text")|trans }}</p>


{% endblock %}
