{% trans_default_domain "views" %}
{% extends 'base.html.twig' %}

{% block body %}

	 <p>Deze pagina werd niet gevonden. Ga naar <a href="{{ path('homepage') }}">de homepage</a> om verder te doen. </p>

{% endblock %}