<h3>Een nieuwe vrijwilliger koos u als bemiddelingsorganisatie!</h3>

<p>Beste beheerder voor {{ org.title }},</p>

<p>
    zonet registreerde {{ user.firstname }} {{ user.lastname }} zich op Roeselare Vrijwilligt en gaf uw organisatie op als contactmogelijkheid.  Wij houden er dan ook aan om u hiervan op de hoogte te brengen.
</p>

<p>U kan zijn/haar profiel bekijken op uw dashboard.</p>

<p>Wij zijn alvast zeer enthousiast dat u mee bouwt aan een dynamisch Roeselare!</p>

<p>Bedankt!</p>
<img src="{{ absolute_url(asset('images/logo_roeselarevrijwilligt.png')) }}">