{% extends "emailbase.html.twig" %}

{% block body %}
	<h1>Bedankt voor uw inzet!</h1>

	<p>Beste {{ candidate.firstname }},</p>

	<p>
	    zonet werd u verwijderd als vrijwilliger voor de vacature {{ vacancy.title }}.<br />
        Wij bedanken u van harte voor uw inzet!
	</p>
    <p>
        Met vriendelijke groeten,<br />
        Roeselare Vrijwilligt
    </p>

{% endblock %}