{% extends "emailbase.txt.twig" %}

{% block body %}
<h1>Een kandidaat droop af!</h1>

<p>Beste beheerder voor {{ org.name }},</p>

<p>
    zonet trok {{ candidate.firstname }} {{ candidate.lastname }} op Roeselare Vrijwilligt haar / zijn kandidatuur voor de vacature {{ vacancy.title }} in.
</p>

{% endblock %}