{% extends "emailbase.txt.twig" %}

{% block body %}
<h1>Welkom bij Roeselare Vrijwilligt!</h1>

<p>Dag {{ user.firstname }} {{ user.lastname }},</p>

<p>
    u bent succesvol geregistreerd bij Roeselare Vrijwilligt en werd automatisch ingelogd.<br />
    Bij een toekomstig bezoek kan u inloggen <a href="{{ url('login') }}">via deze link.</a>
</p>

{% endblock %}