{% extends "emailbase.html.twig" %}

{% block body %}
<h1>Beheerder verwijderd</h1>

<p>Beste beheerder voor {{ org.name }},</p>

<p>
    zonet werd {{ newAdmin.firstname }} {{ newAdmin.lastname }} verwijderd als beheerder voor {{ org.name }}.
</p>

{% endblock %}