<h1>
    Beste {{ recover.person.fullName }},
</h1>

<p>
    U hebt zonet een aanvraag gedaan om uw wachtwoord te resetten
    Klik
    <a href="http://roeselarevrijwilligt.be{{ path('request_recover') }}{{recover.hash}}">
        hier
    </a>
    om je wachtwoord te gaan resetten en volg alle instructies:

    Heb je helemaal geen reset aangevraagd? Negeer deze mail dan gewoon.

</p>

<footer>
    Met vriendelijke groeten,
    Het Roeselare Vrijwilligt Developers Team.
</footer>

