<header><h1>Recente vacatures</h1></header>
<ul>
	{% for vacancy in vacancies %}
		<li><a href="{{ path("vacancy_title", { "title": vacancy.getNameUrl() }) }}">{{ vacancy.title}} </a></li>
	{% endfor %}
</ul>
