<header><h1>Recente vacatures</h1></header>
<ul>
	{% for vacancy in vacancies %}  
		<li><a href="{{ path("vacancy_by_urlid", { "urlid": vacancy.urlId }) }}">{{ vacancy.title}} </a></li>
	{% endfor %}
</ul>
