{% trans_default_domain "views" %}
<div class="vacatures">
    {% if vacancies %}
        {% for vacancy in vacancies %}
            {% embed "vacancy/vacature_min.html.twig" with {"vacancy": vacancy, "count": vacancies|length}%}{% endembed %}
        {% endfor %}
    {% else %}
        <p>{{ "general.tailored.novacancy"|trans }}</p>
    {% endif %}
</div>