{% extends 'base.html.twig' %}

{% block title %}Vacature Aanmaken{% endblock %}

{% block body %}
    <header class="center">
        <h1>Vacature aanmaken</h1>
        <p>Op zoek naar vrijwilligers?</p>
        <p>Vul hier de gegevens van je vacature in. </p>
    </header>

	<section class="steps">
    	{% embed "vacancy/vacature_form.html.twig" with { 'form': form } %}{% endembed %}
	</section>

    {% for flash_message in app.session.flashbag.get('success-notice') %}
        <div class="success-notice">
            <script type="text/javascript">alert("{{ flash_message }}");</script>
        </div>
    {% endfor %}
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset("js/forms.js") }}"></script>
{% endblock %}

