<div class="vacatures">
    {% for vacancy in vacancies %}
        {% embed "vacancy/vacature_min.html.twig" with {"vacancy": vacancy, "count": vacancies|length}%}{% endembed %}
    {% endfor %}
</div>