<li>
	<header><h3><a href="{{ path("vacancy_by_urlid", {"urlid": vacancy.urlId}) }}" >{{ vacancy.title }}</a></h3></header>
	<div>
		<p>{{ vacancy.description|DottedSlice(300) }}</p>
	</div>
	<div>
		{% if vacancy.enddate %}
			<p>Einddatum: {{ vacancy.enddate|date("Y-m-d") }}</p>
		{% endif %}
		</p>
	</div>
</li>
