{% trans_default_domain "views" %}

<div class="vacatures arrow-scrollable">
    {% if vacancies %}
        {% for vacancy in vacancies %}
            {% embed "vacancy/vacature_min.html.twig" with {"vacancy": vacancy, "count": vacancies|length}%}{% endembed %}
        {% endfor %}
    {% else %}
        <p>{{ "general.tailored.novacancy"|trans }}</p>
    {% endif %}
</div>

<script
        src="https://code.jquery.com/jquery-3.1.1.js"
        integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA="
        crossorigin="anonymous">
</script>

<script>
    $(document).ready(function () {
        let scrollbox = $(".arrow-scrollable");
        if(scrollbox.length !== 0){ //there are elements that need arrows

            scrollbox.parent().after("<span class=\"glyphicon glyphicon-chevron-left\" aria-hidden='true' id=\"left\"></span>")
                     .after("<span class=\"glyphicon glyphicon-chevron-right\" aria-hidden='true' id=\"right\"></span>");


            scrollbox.css({"overflow": "hidden"});

            $("#left").css({
                "cursor" : "default",
                "float": "left",
                "top": "50%",
                "transform" : "translateY(-50%)"
            });

            $("#right").css({
                "cursor" : "default",
                "float": "right",
                "top": "50%",
                "transform" : "translateY(-50%)"
            });




    $("#right").on('click', function () {
                console.log('clicked right');
                $(".vacatures").animate({scrollLeft: '+=313'}, 333);
            });

            $("#left").on('click', function () {
                console.log('clicked left');
                $(".vacatures").animate({scrollLeft: '-=313'}, 333);
            });
        }
        else console.log("Arrow vertical scrolling loaded but no elements were found needing this!");
    });
</script>


