{% extends 'base.html.twig' %}

{% block title %}Vacature Aanmaken{% endblock %}

{% block body %}
    <h1>Vacature aanmaken</h1>

    {% embed "vacancy/vacature_form.html.twig" with { 'form': form } %}{% endembed %}

    {% for flash_message in app.session.flashbag.get('success-notice') %}
        <div class="success-notice">
            <script type="text/javascript">alert("{{ flash_message }}");</script>
        </div>
    {% endfor %}
{% endblock %}
