<form method="post" action="{{ path("feedback") }}" class="feedbackform" id="feedbackform">
	<fieldset>
		<legend id="dragdropfeedback">Titel</legend>
		<p>Heeft u opmerkingen, vragen of feedback over deze pagina? Vul ze hier in. </p>
		<textarea name="feedback" id="feedback"></textarea>
		<input type="hidden" name="url" value="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}">
		<input type="submit" value="verzenden" name="verzenden" id="feedbacksend">
	</fieldset> 
</form>
 