<form method="post" action="{{ path("feedback") }}" class="feedbackform" id="feedbackform">
	<fieldset>
		<legend id="dragdropfeedback">Titel</legend>
		<p>Heeft u opmerkingen, vragen of feedback over deze pagina? Vul ze hier in. </p>
		<textarea name="feedback" id="feedback"></textarea>
		<input type="hidden" name="url" value="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}">
		<input type="submit" value="verzenden" name="verzenden" id="feedbacksend">
	</fieldset> 
</form>
<script type="text/javascript">

$(document).ready(function() {
    var $dragging = null;

    $(document.body).on("mousemove", function(e) {
        if ($dragging) {
            $dragging.offset({
                top: e.pageY,
                left: e.pageX
            });
        }
    });


    $(document.body).on("mousedown", "form.feedbackform fieldset", function (e) {
        $dragging = $(e.target);
    });

    $(document.body).on("mouseup", function (e) {
        $dragging = null;
    });
});
/*

	var selected = null, // Object of the element to be moved
	    x_pos = 0, y_pos = 0, // Stores x & y coordinates of the mouse pointer
	    x_elem = 0, y_elem = 0; // Stores top, left values (edge) of the element

	// Will be called when user starts dragging an element
	function _drag_init(elem) {
	    // Store the object of the element which needs to be moved
	    selected = elem;
	    x_elem = x_pos - selected.offsetLeft;
	    y_elem = y_pos - selected.offsetTop;
	}

	// Will be called when user dragging an element
	function _move_elem(e) {
	    x_pos = document.all ? window.event.clientX : e.pageX;
	    y_pos = document.all ? window.event.clientY : e.pageY;
	    if (selected !== null) {
	        selected.style.left = (x_pos - x_elem) + 'px';
	        selected.style.top = (y_pos - y_elem) + 'px';
	    }
	}

	// Destroy the object when we are done
	function _destroy() {
	    selected = null;
	}

	// Bind the functions...
	document.getElementById('dragdropfeedback').onmousedown = function () { 
	    _drag_init(this.parentNode.parentNode);
	    return false;
	};

	document.getElementById('feedbackform').submit = function () { 
		document.getElementById('feedbacksend').value = "bezig met verzenden..."; 
	    return false;
	};

	document.onmousemove = _move_elem;
	document.onmouseup = _destroy;
	*/
</script>