{% trans_default_domain "validators" %}
{% extends "base.html.twig" %}

{% block title %}{{ "general.login"|trans({}, "views")|capitalize }}{% endblock %}

{% block body %}
    <header class="center">
    	<h1>{{ "security.login"|trans({}, "views") }}</h1>
    </header>
	<section class="steps">
		{% embed "security/login_form.html.twig" with { 'path': path, 'error': error, 'last_username': last_username } %}{% endembed %}
	</section>
{% endblock %}


{% block javascripts %}
	{{ parent()}}
	<script src="{{ asset("js/passwordView.js") }}"></script>
{% endblock %}
