<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>login status</title>
    </head>
    <body>
        file: loginstatus.html.twig
        <br />
        Hi {{ app.user.username }}
        <br />
        all user data: {{ app.user }}
    </body>
</html>
