<aside id="recentSearches">
    <h2>Recente zoekopdrachten</h2>
    {{ render(controller("AppBundle:SearchFilter:listRecentSearchFilters", { "nr": 5 } )) }}
</aside>
<aside id="savedSearches">
    <h2>Mijn bewaarde zoekopdrachten</h2>
</aside>