{% for result in results %}
	XXXXX WORDT DEZE NOG GEBRUIKT ? XXXXXXXXXX (remove line if true)
    <div class="display_box" align="left">
        <b>{{result.title}}</b>
        <br />
        {{result.body}}
        <br />
        <input type="hidden" id="referer" value="{{result.link}}" />
    </div>
{% endfor %}
